/myenv
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg
*.egg-info
.env
db.sqlite3
*.sqlite3
*.log
.vscode/
Dockerfile
conda_dependencies.yaml
results_oxygen_bike-automl/bikerental-amount.py
results_oxygen_bike-automl/mslearnyellowox2.zip
conda_dependencies.yaml
